/*  background color: #F5F5F5  bgc-color
    header color #FFFFFF
    footer hero color #2F303A
    comand color #F5F4FA
    text color #212121         title-color
    text2 color #757575
    text3 color #2196F3
    adress link color: rgba(255, 255, 255, 0.6);
    adress color: #FFFFFF;
    button active #188CE8;
    button galery #F5F4FA
    project #EEEEEE

*/
:root {
    --bgc-color: #FFFFFF;
    --title-color: #212121;
    --logo-color1: #2196F3;
    --logo-color2: #000000;
    --logo-color3: #FFFFFF;
    --hero-text-color: #FFFFFF;
    --hero-bgc-color: #C4C4C4;
    --header-border-color: #ECECEC;
    --button-text-color: #FFFFFF;
    --button-bgc-color: #2196F3;
    --button-active-color: #188CE8;
    --button-project-bgc: #F5F4FA;
    --description-color: #757575;
    --hover-color: #2196F3;
    --footer-bgc-color: #2F303A;
    --footer-adress-color: #FFFFFF;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --advantage-icon: #F5F4FA;
    --team-bgc-color: #F5F4FA;
    --project-border: #EEEEEE;
    --icon-color: #AFB1B8;
}

body {
    background-color: var(--bgc-color);
    color: var(--title-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
h1, h2, h3, h4, p, ul {
    margin: 0;
    padding: 0;
}
 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }
.list {
    list-style: none;
}
.link {
    text-decoration: none;
    font-style: normal;
    color: inherit;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
section.no-top-padding {
    padding-top: 0;
}

header {
    border-bottom: 1px solid var(--header-border-color);
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container2 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header{
    display: flex;
}

.nav-flex {
    display: flex;
    align-items: center;
}

.nav .link,
.contacts .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav {
    display: flex;
    margin-left: 93px;
}
.nav .item+.item{
    margin-left: 50px;
}
.nav a:hover,
.nav a:focus {
    color: var(--hover-color);
}

.nav .current {
    color: var(--hover-color);
}

.contacts {
    display: flex;
    margin-left: auto;
}
.contacts .item+.item {
    margin-left: 50px;
}
.contacts .link {
    color: var(--description-color);
    display: flex;
    align-items: center;
}

.contacts a:hover,
.contacts a:focus {
    color: var(--hover-color);
}
.icon {
    margin-right: 10px;
    fill: currentColor;
}
.icon:hover {
    fill: var(--hover-color);
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.logo {
    display: inline-block;
    color: var(--logo-color1);;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    }
.logo1 {
    color: var(--logo-color2);
}
.logo2 {
    color: var(--logo-color3);
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--hero-bgc-color);
    background-image: 
        linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url('../images/bgc.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    }

.hero .h1 {
    margin-bottom: 30px;
    
    color: var(--hero-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.button-hero {
    display: inline-block;
    padding: 10px 32px;
    min-width: 216px;
    border-radius: 4px;
    border: none;
    background-color: var(--button-bgc-color);

    color: var(--button-text-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    
}
.button-hero:active {
    background-color: var(--button-active-color);
}
.advantage {
    display: flex;
    justify-content: space-between;
    }
.advantage .item {
    width: 270px;
}
.advantage .h3 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
/* .advantage .item::before {
    content: '';
    display: block;
    height: 120px;
    margin-bottom: 30px;
    background: var(--advantage-icon);
    background-repeat: no-repeat;
    background-position: center;
}
.advantage .icon-antenna::before {
    background-image: url('../images/antenna.svg');
}
.advantage .icon-clock::before {
    background-image: url('../images/clock.svg');
}
.advantage .icon-diagram::before {
    background-image: url('../images/diagram.svg');
}
.advantage .icon-astronaut::before {
    background-image: url('../images/astronaut.svg');
} */
.icon-advantage {
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--advantage-icon);
}

.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--description-color);
}


.button-project {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 22px;
    padding-left: 22px;
    background-color: var(--button-project-bgc);
    border-radius: 4px;
    border: none;

    color: var(--title-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.button-project:hover, .button-project:focus {
    /* padding-right: 25px;
    padding-left: 25px; */
    box-shadow: 
        0px 3px 1px rgba(0, 0, 0, 0.1), 
        0px 1px 2px rgba(0, 0, 0, 0.08), 
        0px 2px 2px rgba(0, 0, 0, 0.12);

    color: var(--button-text-color);
    background-color: var(--hover-color);
}

.team-section {
    background-color: var(--team-bgc-color);
}
.title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.work {
    display: flex;
    justify-content: space-between;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.team {
    display: flex;
    justify-content: space-between;
    }
.team .item {
    background-color: #fff;
    box-shadow:
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.social-links {
    width: 206px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.social-link {
    display: flex;
}
.social-link .item {
    border-radius: 0;
    box-shadow: none;
}
.soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 0;
    box-shadow: none;
    fill: var(--icon-color);
}
.social-link .item+.item {
    margin-left: 10px;
}
.soc-link:hover,
.soc-link:focus {
    border-radius: 50%;
    background-color: var(--hover-color);
    fill: #FFFFFF;
}
.clients-list {
    display: flex;
    justify-content: space-between;
}
.clients {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    fill: var(--icon-color);
}
.clients:hover,
.clients:focus {
    border-color: var(--hover-color);
    fill: var(--hover-color);
}

.fsocial-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: #FFFFFF;
}
.fsocial-link:hover,
.fsocial-link:focus
{
    background-color: var(--hover-color);
}

.member {
    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em; 
}
.tasks {
    margin-bottom: 16px;

    color: var(--description-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}
.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filter .item {
    min-width: 73px;
}
.filter .item+.item {
    margin-left: 8px;
}
.project {
    display: flex;
    flex-wrap: wrap;
}
.project .item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.project .item:nth-child(3n) {
    margin-right: 0;
}
.project .item:nth-last-child(-n+3) {
    margin-bottom: 0;
}
.project-name {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project-descript {
    color: var(--description-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.project-link {
    display: block;
    border: 1px solid var(--project-border);
}

.project-link:hover,
.project-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--footer-bgc-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer .logo {
    margin-bottom: 20px;
}
.footer .adress {
    margin-bottom: 9px;

    color: var(--footer-adress-color);
    font-style: normal;
}
.fcontacts .link {
        color: var(--footer-contacts-color);
        /* margin-bottom: 9px; */
}
.fitem {
    margin-bottom: 9px;
}
.fitem:last-child {
    margin-bottom: 0;
}
.fcontacts .link:hover, .fcontacts .link:focus {
    color: var(--hover-color);
}
.join {
    
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer-flex {
    display: flex;
    align-items: baseline;

}
.adress-container {
    width: 231px;
}
.join-container {
    width: 206px;
    margin-left: 70px;
}